* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    color: black;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

h1 {
    margin: 3px 0;
    color: #138BAE;
    font-size: 1em;
}

.controls {
    background: white;
    padding: 5px 2px 0px 0px;
    margin: 0 0 3px 0
}
svg {
    margin: 0;
}

.blobs {
    position: absolute;
    -ms-border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    /*width:20%;
    height:10%;*/
    text-align:center;
    line-height:80px;
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    transition:top ease-in 500ms;
    -webkit-transition:top ease-in 500ms;
    cursor: pointer;
}
.blobs:hover {
    background-color: rgb(100, 180, 255) !important;
}


.controls * {
   font-size: 11px;
   font-weight: bold;
}

button {
    color: white;
    background: rgb(227, 103, 0);
    border: 1px solid black;
    padding: 1ex 1em;
    margin-right: 1ex;
    tab-index: 0;
}
button:hover {
    background: red;
}

select {
    color: white;
    background: grey;
    border: 1px solid black;
    padding: 1ex 1em;
    height: 26px;
    margin-right: 1ex;
}
select:hover {
    background: blue;
}

div {
    margin-bottom: 1ex;
}

.debug {
    font-size: small;
    color: gray;
    width: 300px;
}

.playfield {
    -webkit-filter: url("#goo");
    -moz-filter: url("#goo");
    -ms-filter: url("#goo");
    position: relative;
    /* -webkit-filter: url("#shadowed-goo"); */
    /* -moz-filter: url("#shadowed-goo"); */
    /* -ms-filter: url("#shadowed-goo"); */
    /* -filter: url("#shadowed-goo"); */
    width: 300px !important;
}

.pad {
    padding: 170% 0 0 0;
    width: 300px !important;
}

.score {
    top: 520px;
    position: relative;
    color: red;
    opacity: 0.3;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.score h2 {
    text-align: center;
    margin: -40px 13px 0 17px;
}
.score.player {
    right: 105px;
    padding: 0;
    margin: 0;
}

.score.computer {
    top: 517px;
    left: 97px;
    padding: 0;
    margin: 0;
}

.limited {
    width: 300px !important;
}

.bordered {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 300px !important;;
    border: 5px solid rgba(19, 139, 174, 1);
    background-image: url("../assets/trails2.png");
    background-size: 290px;
    background-color: rgba(255,40,40,0.1);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popover {
    border: 1px solid black;
    position: relative;
    top: 40px;
    left: 20px;
    width: 260px;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    font-size: 14px;
}
.popover .title {
    font-weight: bold;
    font-size: 16px;
}
